{% extends "layout.html" %}
{% block static_pages %}

<div class="content-section">
    <div class="about-section">
        <h3 class="heading">About the project</h3>
        <p>We are a team of three Computer Science Conversion MSc students - Conor Short, Evan McDonagh and Hannah Barrett. 
            We created this project as part of a Software Engineering assignment. The goal was to develop a web application to display 
            occupancy and weather information for Dublin Bikes. Using scikit-learn, we developed a simple linear regression model to predict 
            the number of available bikes at each station.
        </p>
    </div>
</div>
{% endblock static_pages %}
