{% extends "layout.html" %}
{% block static_pages %}

<div class="content-section">
    <div class="about-section">
        <h3 class="heading">The team</h3>
        <p>This project was created by a team of three Computer Science MSc students as part of a Software Engineering assignment.</p>
    </div>
    <div class="about-section">
        <h3 class="heading">The project</h3>
        The aim of this project was to create a web application to display occupancy and weather information for Dublin Bikes. 
    </div>
    <div class="about-section">
        <h3 class="heading">The predictive model</h3>
    </div>
</div>
{% endblock static_pages %}
