<!-- this page will inherit code from layout which is common to age -->
{% extends "layout.html" %}

<!-- to inherit start a block -->
{% block map_page %}
<style>
    body {
        overflow: hidden;
        margin-top: 3.5rem;
    }
</style>

<div class="home-alert-box">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}

    <div style="margin-bottom: 0;" class="alert alert-{{ category }}">
        <div class="container">{{ message }}
            <button type="button" class="close alert-box-home-close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>




<div id="prediction"></div>

<div id="map-container">
    <!-- map search box -->

    <input id="pac-input" class="controls" type="text" placeholder="Search Box">

    <div id="map"></div>
    <!-- create info div -->
    <div id="info-div">
        <button type="button" id="info-div-close" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h2 id="station-title"></h2>
        {% if current_user.is_authenticated %}
        <input class="btn btn-outline-info btn-sm" id="add-to-favs-btn" type="button" value="Add to Favourites">
        {% else %}
        <input class="btn btn-outline-info btn-sm disabled" id="login-to-add-to-favs-btn" type="button"
            value="Login to add to favourites">
        {% endif %}
        <br>
        <br>

        <!-- timepicker-->
        <div id="model-div" class="card">
            <div class="card-body">
                <h3 class="card-title">Availability Estimates</h3>
                <div id="timepicker-div">
                    <h6>Choose a time and date:</h6>
                    <input id="timepicker" type="text" class="timepicker btn-info" />
                </div>
                <!-- date buttons-->
                <div class="datepicker-div">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="date-btn btn btn-outline-info active">
                            <span class="date-text" id="button1"></span>
                            <input type="radio" name="options" id="option1" autocomplete="off" checked>
                        </label>
                        <label class="date-btn btn btn-outline-info">
                            <span class="date-text" id="button2"></span>
                            <input type="radio" name="options" id="option2" autocomplete="off">
                        </label>
                        <label class="date-btn btn btn-outline-info">
                            <span class="date-text" id="button3"></span>
                            <input type="radio" name="options" id="option3" autocomplete="off">
                        </label>
                        <label class="date-btn btn btn-outline-info">
                            <span class="date-text" id="button4"></span>
                            <input type="radio" name="options" id="option4" autocomplete="off">
                        </label>
                        <label class="date-btn btn btn-outline-info">
                            <span class="date-text" id="button5"></span>
                            <input type="radio" name="options" id="option5" autocomplete="off">
                        </label>
                    </div>
                </div>
                <br>
                <!-- Model Predictions -->
                <div id="prediction-results">
                    <table class="table">
                        <tr>
                            <td>Available bikes:</td>
                            <td><strong><span class="prediction-text" id="availbikes"></span></strong><span
                                    class="prediction-text" id="availbikes"></span></td>
                        </tr>
                        <tr>
                            <td>Available stands:</td>
                            <td><strong><span class="prediction-text" id="availstands"></span></strong></td>
                        </tr>
                    </table>
                </div>
                <!-- Weather Info -->
                <div class="card">
                    <div class="card-body">
                        <div class="weather">
                            <div class="weatherdescription"><small><small>WEATHER:</small></small> <span
                                    id='weatherdescription' style="text-transform: capitalize;"></span></div>
                            <div class="temp"><small><small>TEMPERATURE:</small></small> <span id="temp"></span></div>
                            <div class="wind"><small><small>WIND:</small></small> <span id="wind"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div id="historical-div" class="card">
            <div class="card-body">
                <!-- buttons for weekdays-->
                <h3 class="card-title">Average historical Data</h3>
                <h6>Choose a day:</h6>
                <div class="daypicker-div">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="day-btn btn btn-outline-info" id="day-btn-1">
                            <span class="day-text">Mon</span>
                            <input type="radio" name="options" id="option1" autocomplete="off">
                        </label>
                        <label class="day-btn  btn btn-outline-info" id="day-btn-2">
                            <span class="day-text">Tue</span>
                            <input type="radio" name="options" id="option2" autocomplete="off">
                        </label>
                        <label class="day-btn btn btn-outline-info" id="day-btn-3">
                            <span class="day-text">Wed</span>
                            <input type="radio" name="options" id="option3" autocomplete="off">
                        </label>
                        <label class="day-btn btn btn-outline-info" id="day-btn-4">
                            <span class="day-text">Thurs</span>
                            <input type="radio" name="options" id="option4" autocomplete="off">
                        </label>
                        <label class="day-btn btn btn-outline-info" id="day-btn-5">
                            <span class="day-text">Fri</span>
                            <input type="radio" name="options" id="option5" autocomplete="off">
                        </label>
                        <label class="day-btn btn btn-outline-info" id="day-btn-6">
                            <span class="day-text">Sat</span>
                            <input type="radio" name="options" id="option6" autocomplete="off">
                        </label>
                        <label class="day-btn btn btn-outline-info" id="day-btn-0">
                            <span class="day-text">Sun</span>
                            <input type="radio" name="options" id="option7" autocomplete="off">
                        </label>
                    </div>
                </div>

                <!-- two line charts-->
                <div class="chart-container">
                    <canvas class="chart" id="daily-chart"></canvas>
                </div>
                <div class="chart-container">
                    <canvas class="chart" id="weekly-chart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <!-- marker legend-->
    <div id="marker-legend">

        <p class="legend"><img src="/static/images/bike-red.png">Fewer than 4 bikes</p>
        <p class="legend"><img src="/static/images/bike-yellow.png">4-10 bikes</p>
        <p class="legend"><img src="/static/images/bike-green.png">More than 10 bikes</p>
        <p class="legend">Click a marker for more information</p>
        </op>

    </div>
</div>
<script>

    // Resize the map based on the number of alerts shown
    function resizeMapDivForAlerts() {
        if ($(".home-alert-box").length) {
            let height = 56;
            $(".home-alert-box").each((index, obj) => {
                height += $(obj).height()
            });
            $("#map-container").css({ height: "calc(100vh - " + height + "px)" });
        }
    }

    // Map is resized once the pages is loaded
    $(document).ready(function () {
        resizeMapDivForAlerts()
    });

    // Add on click to info div close button
    $("#info-div-close").click(() => $("#info-div").hide());

    // Add on click to alert box close button
    $(".alert-box-home-close").click(function () {
        $(this).parent().parent().hide();
        resizeMapDivForAlerts();
    });


</script>
<script>

    // Get the current user's favourited stations from Flask
    var userStationIds = JSON.parse('{{ stations|tojson }}');


    // Adds one station to one of the menus
    function addStationToMenu(name, id, menu) {
        let $station = $('<a/>', { "class": "dropdown-item", "id": "station-menu-" + id })
            .text(name)
            .click(() => { getStationInfo(markerDict[id]["marker"], markerDict[id]["idx"]) });
        $(menu).append($station);
    }


    // Fill the all stations menu, sorted alphbetically
    function fillAllStationsMenu() {
        let allStationsArr = [];
        for (let stationId in markerDict) {
            allStationsArr.push([markerDict[stationId]["name"], stationId]);
        }
        allStationsArr.sort();
        allStationsArr.forEach((station) => addStationToMenu(station[0], station[1], "#all-stations-menu"));
    }

    // Fill the favourites menu, sorted alphbetically
    function fillFavouritesMenu(userStationIds) {
        $("#favourites-menu").html("");
        let favouriteStationsArr = [];

        if (userStationIds.length > 0) {
            userStationIds.forEach(stationId => {
                favouriteStationsArr.push([markerDict[stationId]["name"], stationId]);
            });
            favouriteStationsArr.sort();
            favouriteStationsArr.forEach((station) => addStationToMenu(station[0], station[1], "#favourites-menu"));
            ;
        } else {
            let $noFavs = $('<a/>', { "class": "dropdown-item disabled" })
                .text("No favourites selected")
            $("#favourites-menu").append($noFavs);
        }
    }

    // Check if a station is favaouried by the current user
    function isFavourited(id) {
        if (userStationIds) {
            return userStationIds.includes(id.toString());
        } else {
            return false;
        }
    }

    // Called when the add/remove favourites button is clicked
    // Upodates the current user's stations in the database and 
    // repopulates teh favourites dropdown
    function addOrRemoveStationToFavourites(id) {

        $("#add-to-favs-btn").off("click");

        let workingText = isFavourited(id) ? "Removing..." : "Adding..."
        $("#add-to-favs-btn").val(workingText)
            .addClass("disabled")
            .prop("disabled", true);

        let action = isFavourited(id) ? "remove" : "add";
        $.post("/addstation", { action: action, id: id }, function (data) {
            userStationIds = JSON.parse(data);
            fillFavouritesMenu(userStationIds);

            if (currentMarkerId == id) {
                let buttonText = isFavourited(id) ? "Remove from favourites" : "Add to favourites";
                $("#add-to-favs-btn").val(buttonText)
                    .removeClass("disabled")
                    .prop("disabled", false)
                    .click(() => addOrRemoveStationToFavourites(id));
            }
        });
    }


</script>
<script>
    
    // create global variables
    var map;
    var infowindow;
    var markerArray;
    var markerDict;
    var currentMarkerId;

    // get location data from flask
    locData = JSON.parse('{{ locationdata|tojson }}')

    //display info window and information div when marker is selected
    function getStationInfo(marker, i) {
        currentMarkerId = locData[i]["id"];

        $("#info-div").show();

        //add title of station to top of info div
        $("#station-title").html(locData[i]["name"]);

        // remove station from/add station to favourites
        var favCheck = isFavourited(locData[i]["id"])
        let buttonText = favCheck ? "Remove from favourites" : "Add to favourites"
        $("#add-to-favs-btn").off("click")
            .removeClass("disabled")
            .prop("disabled", false)
            .val(buttonText)
            .click(() => addOrRemoveStationToFavourites(locData[i]["id"]));

        // send get request with id of station
        // execute function once results have been returned from get request
        $.getJSON("/query", { id: locData[i]["id"] }, function (stationInfo) {
            let content = "<div id='infowindow'><h5>" + locData[i]["name"] + "</h5>";
            if (stationInfo[0]["status"] === 'OPEN') {
                content += "<p>Available bikes: " + "<span id='infowindow-availbikes'>" + stationInfo[0]["availbikes"] + "</span>" + "</p>";
                content += "<p>Available stands: " + "<span id='infowindow-availstands'>" + stationInfo[0]["availstands"] + "</span>" + "</p>";
                if (stationInfo[0]["banking"] === 'False')
                    stationInfo[0]["banking"] = 'Not available';
                else
                    stationInfo[0]["banking"] = 'Available';
                content += "<p>Banking: " + stationInfo[0]["banking"] + "</p>";
            } else {
                content += "Station closed";
            }

            // add content of get request to info window
            infowindow.setContent(content);
            infowindow.open(map, marker);
        });


        // get current time using Date object
        let d = new Date();
        let hour = d.getHours();
        let minutes = d.getMinutes();
        // round time to nearest half hour
        if (minutes < 30) {
            minutes = 0;
        } else if (minutes >= 30) {
            minutes = 0;
            hour = (hour + 1) % 24;
        }
        let currentTime = hour + ":" + minutes;
        // create jquery timepicker
        $('#timepicker').timepicker({
            timeFormat: 'HH:mm',
            interval: 60,
            minTime: currentTime,
            maxTime: "23:00",
            scrollbar: true,
            defaultTime: currentTime,
            dynamic: false,
            zindex: 1000,
            change: function (time) {
                getPrediction(currentMarkerId, currentTime);
            }
        });

        // date buttons
        const weekdays = ['Sun', 'Mon', 'Tue', 'Wed', 'Thurs', 'Fri', 'Sat'];
        const months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        let date = new Date();

        let today = date.getDay()
        let mySqlToday = (today + 1) % 7; //create current day for mySql

        $(".day-btn").removeClass("active");
        $("#day-btn-" + today).addClass("active");

        // create weekly and hourly charts
        setGraph(dayChart, locData[i]["id"], mySqlToday);
        setGraph(weeklyChart, locData[i]["id"], "all");

        //add onclicks to day buttons to show hourly chart
        addOnClicksToDayButtons(locData[i]["id"])


        // loop through all elements in the class date-text in order to fill date-buttons
        $('.date-text').each(function (index, obj) {
            if (date.getDate() < 10) {
                newdate = 0 + "" + date.getDate();
            } else {
                newdate = date.getDate();
            }
            obj.innerHTML = weekdays[date.getDay()] + "<br> " + newdate + " " + months[date.getMonth()];
            date.setDate(date.getDate() + 1);
        });

        //give each date button an on-click function
        //show the predictions once the button is clicked
        $('.date-btn').each(function (index, obj) {
            $(obj).off("click");
            if ($(obj).hasClass("active")) { day = index }
            $(obj).click(function () {
                getPrediction(currentMarkerId, currentTime);
            });
        });

        getPrediction(currentMarkerId, currentTime);


    }

    function updateTimepicker(day, currentTime) {
        // Sets limits on time picker options depending on the selected date
        var minTime;
        var maxTime;
        if (day == 0) {
            minTime = currentTime;
            maxTime = "23:00";
        } else if (day == 4) {
            minTime = "00:00";
            maxTime = currentTime;
        } else {
            minTime = "00:00";
            maxTime = "23:00";
        }


        $('#timepicker').data('TimePicker').options.minTime = minTime;
        $('#timepicker').data('TimePicker').options.maxTime = maxTime;
        $('#timepicker').data('TimePicker').items = null;
        $('#timepicker').data('TimePicker').widget.instance = null;
    }

    function getWeather(thisday, thishour) {
        // Retrieve weather from selected hour and day
        $.getJSON("/weather", { day: thisday, hour: thishour }, function (weather_info) {
            $('#weatherdescription').text(weather_info.weatherdescription);
            $('#temp').text(weather_info.temp);
            $('#wind').text(weather_info.wind);

            document.getElementById('temp').innerHTML += " &deg; <small>C</small></span>";
            document.getElementById('wind').innerHTML += " km/h"
            // document.getElementById('wind-units').style = "visibility: visible";
        });
    }

    function getPrediction(stationid, currentTime) {
        $('#availbikes').text("Loading...");
        $('#availstands').text("Loading...");
        $('#timepicker').prop('disabled', true);
        $.getJSON("/predictions", { id: stationid }, function (prediction_info) {
            // Retrieve selected hour and day counter from timepicker and datepicker
            var hour = parseInt(document.getElementById('timepicker').value.substring(0, 2));
            var day;


            $(".date-btn").each((index, obj) => { if ($(obj).hasClass("active")) { day = index } });


            // update timepicker based on selected date
            updateTimepicker(day, currentTime);
            $('#timepicker').prop('disabled', false);
            // Update weather widget
            getWeather(day, hour);

            // assign availability variables
            var availbikes = prediction_info[day][hour];
            var availstands = prediction_info['numbikestands'] - availbikes;

            // Set times prior to available predictions to current data
            if (typeof availbikes == 'undefined') {
                $.getJSON("/query", { id: stationid }, function (stationInfo) {
                    document.getElementById('availbikes').textContent = stationInfo[0]["availbikes"];
                    document.getElementById('availstands').textContent = stationInfo[0]["availstands"];
                });
            } else {

                // account for negative predictions
                if (availbikes < 0) {
                    availbikes = 0;
                    availstands = prediction_info['numbikestands'];
                }
                if (availstands < 0) {
                    availstands = 0;
                    availbikes = prediction_info['numbikestands'];
                }

                // set infodiv contents to availability data
                document.getElementById('availbikes').textContent = availbikes;
                document.getElementById('availstands').textContent = availstands;
            }
        });
    }


    // function to create map called upon google connection to API below
    function initMap() {

        // create infowindow
        infowindow = new google.maps.InfoWindow();

        var dublin = { lat: 53.3498, lng: -6.2603 };
        // The map, centered at Dublin
        map = new google.maps.Map(
            document.getElementById('map'), {
            zoom: 13,
            center: dublin,
            // disable all default map controls except zoom
            disableDefaultUI: true,
            zoomControl: true,
            zoomControlOptions: {
                position: google.maps.ControlPosition.LEFT_BOTTOM
            },
            // change the colour theme of the map
            styles: [
                {
                    "featureType": "all",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "weight": "2.00"
                        }
                    ]
                },
                {
                    "featureType": "all",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#9c9c9c"
                        }
                    ]
                },
                {
                    "featureType": "all",
                    "elementType": "labels.text",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "landscape",
                    "elementType": "all",
                    "stylers": [
                        {
                            "color": "#f2f2f2"
                        }
                    ]
                },
                {
                    "featureType": "landscape",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#ffffff"
                        }
                    ]
                },
                {
                    "featureType": "landscape.man_made",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#ffffff"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "all",
                    "stylers": [
                        {
                            "color": "#eff5ea"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#aaaaaa"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "weight": "0.1"
                        },
                        {
                            "color": "#aaaaaa"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "all",
                    "stylers": [
                        {
                            "saturation": -100
                        },
                        {
                            "lightness": 45
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#eeeeee"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#7b7b7b"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#ffffff"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "simplified"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "all",
                    "stylers": [
                        {
                            "color": "#46bcec"
                        },
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#c8d7d4"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#070707"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#ffffff"
                        }
                    ]
                }
            ]

        });
        // create search box
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function () {
            searchBox.setBounds(map.getBounds());
        });

        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function () {
            var places = searchBox.getPlaces();

            if (places.length == 0) {
                return;
            }

            var bounds = new google.maps.LatLngBounds();
            places.forEach(function (place) {
                if (!place.geometry) {
                    console.log("Returned place contains no geometry");
                    return;
                }

                if (place.geometry.viewport) {
                    // Only geocodes have viewport.
                    bounds.union(place.geometry.viewport);
                } else {
                    bounds.extend(place.geometry.location);
                }
            });
            map.fitBounds(bounds);
        });
        markerArray = [];
        markerDict = {};
        var marker, i, colour;

        //images for map markers
        let redMarker = "{{ url_for('static', filename='images/bike-red.png') }}"
        let greenMarker = "{{ url_for('static', filename='images/bike-green.png') }}"
        let yellowMarker = "{{ url_for('static', filename='images/bike-yellow.png') }}"
        let purpleMarker = "{{ url_for('static', filename='images/purple-dot.png') }}"

        //HTTP request to get all station information
        $.getJSON("/query", { id: "all" }, function (allStationInfo) {
            // loop through locdata to add markers to map
            for (i = 0; i < locData.length; i++) {
                let availbikes = allStationInfo[locData[i]["id"]]["availbikes"];
                if (availbikes <= 3) {
                    colour = redMarker;
                } else if (4 <= availbikes && availbikes <= 10) {
                    colour = yellowMarker;
                } else if (10 < availbikes) {
                    colour = greenMarker;
                } else {
                    colour = purpleMarker;
                }
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locData[i]["lat"], locData[i]["lon"]),
                    map: map,
                    icon: {
                        url: colour
                    }
                });

                // add on-click function using closure and IIFE
                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                    return function () {

                        getStationInfo(marker, i)
                    }

                })(marker, i));

                markerArray.push(marker);
                markerDict[locData[i]["id"]] = { marker: marker, idx: i, name: locData[i]["name"] };

            }

            // create marker clusters using array of markers
            var markerCluster = new MarkerClusterer(map, markerArray, { maxZoom: 14, imagePath: '/static/images/cluster_images/m' });
            fillFavouritesMenu(userStationIds);
            fillAllStationsMenu();
        });

    }
</script>
<script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBk5FkeAnIxVpfk2ufqO3F1ofYF84oDT6c&callback=initMap&libraries=places"></script>


<script src="https://www.chartjs.org/dist/2.9.3/Chart.min.js"></script>
<script src="https://www.chartjs.org/samples/latest/utils.js"></script>

<script>
    //add on click to weekday buttons to display hourly chart
    function addOnClicksToDayButtons(id) {
        $('.day-btn').each(function (index, obj) {
            $(obj).off("click");
            $(obj).click(function () {
                setGraph(dayChart, id, index);
            });
        });

    }

    // Set graph data to particular data for selected stop
    function setGraph(chart, stationid, day) {
        $.getJSON("/averages", { id: stationid, day: day }, function (average_info) {
            var availbikes = average_info['availbikes']
            var availstands = average_info['availstands']
            chart.data.datasets[0].data = availbikes;
            chart.data.datasets[1].data = availstands;
            chart.update();
        });
    }

    // hourly graph configuration
    var hours = ["00:00", "01:00", "02:00", "03:00", "04:00", "05:00", "06:00", "07:00", "08:00", "10:00", "11:00", "12:00", "13:00", "14:00", "15:00", "16:00", "17:00", "18:00", "19:00", "20:00", "21:00", "22:00", "23:00"];
    var dayConfig = {
        type: 'line',
        data: {
            labels: hours,
            datasets: [{
                label: 'Available Stands',
                backgroundColor: window.chartColors.red,
                borderColor: window.chartColors.red,
                data: new Array(24).fill(0),
                fill: false,
            },
            {
                label: 'Available Bikes',
                backgroundColor: window.chartColors.blue,
                borderColor: window.chartColors.blue,
                data: new Array(24).fill(0),
                fill: false,
            }]
        },
        options: {
            responsive: true,
            aspectRatio: 1.15,
            title: {
                display: true,
                text: 'Hourly data at specific day'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Time'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'No. Available'
                    },
                    ticks: {
                        suggestedMin: 0,
                        suggestedMax: 20
                    }
                }]
            }
        }
    };

    // add hourly chart to html
    var ctx = document.getElementById('daily-chart').getContext('2d');
    var dayChart = new Chart(ctx, dayConfig);

    //weekly graph configuration
    const weekdays = ['Mon', 'Tue', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun'];
    var weekConfig = {
        type: 'line',
        data: {
            labels: weekdays,
            datasets: [{
                label: 'Available Stands',
                backgroundColor: window.chartColors.red,
                borderColor: window.chartColors.red,
                data: new Array(7).fill(0),
                fill: false,
            },
            {
                label: 'Available Bikes',
                backgroundColor: window.chartColors.blue,
                borderColor: window.chartColors.blue,
                data: new Array(7).fill(0),
                fill: false,
            }]
        },
        options: {
            responsive: true,
            aspectRatio: 1.15,
            title: {
                display: true,
                text: 'Weekly data'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Day'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'No. Available'
                    },
                    ticks: {
                        suggestedMin: 0,
                        suggestedMax: 20
                    }
                }]
            }
        }
    };

    // add weekly chart to html
    var ctx = document.getElementById('weekly-chart').getContext('2d');
    var weeklyChart = new Chart(ctx, weekConfig);
</script>

<!-- end the block. The word content not required -->
{% endblock map_page %}