<!-- this page will inherit code from layout which is common to age -->
{% extends "layout.html" %}

<!-- to inherit start a block -->
{% block content %}

<div id="prediction"></div>
<div  id="map-container">
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    
    <div id="map"></div>    
    <!-- info div -->
    <div id="info-div">
        <h2 id="station-title"></h2>
        <!-- timepicker-->
        <div id="timepicker-div">
            <h6>Choose a time and date:</h6>
            <input id="timepicker" type="text" class="timepicker btn-info" />
        </div>
        <!-- datepicker-->
        <div class="datepicker-div">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-info active">
                <span class="date-text" id = "button1"></span>
                <input type="radio" name="options" id="option1" autocomplete="off" checked>
                </label>
                <label class="btn btn-outline-info">
                    <span class="date-text" id="button2"></span>
                <input type="radio" name="options" id="option2" autocomplete="off">
                </label>
                <label class="btn btn-outline-info">
                    <span class="date-text" id = "button3"></span>
                <input type="radio" name="options" id="option3" autocomplete="off">
                </label>
                <label class="btn btn-outline-info">
                    <span class="date-text" id = "button4"></span>
                    <input type="radio" name="options" id="option4" autocomplete="off">
                </label>
                <label class="btn btn-outline-info">
                    <span class="date-text" id = "button5"></span>
                    <input type="radio" name="options" id="option5" autocomplete="off">
            </div>
        </div>
        <div>
            <canvas id="myChart"></canvas>
        </div>
    </div>
    <div id="marker-legend">
        <h1>HI</h1>
    </div>
</div>
<script>
    // create global variables
    var map;
    var infowindow;

    // get location data from flask
    locData = JSON.parse('{{ locationdata|tojson }}')

    // Get model predictions from flask
    modelData = JSON.parse('{{ modeldata|tojson }}')

    // function to create map called upon google connection to API below
    function initMap() {

        // create infowindow
        infowindow = new google.maps.InfoWindow();

        var dublin = { lat: 53.3498, lng: -6.2603 };
        // The map, centered at Dublin
        map = new google.maps.Map(
            document.getElementById('map'), {
            zoom: 13,
            center: dublin,
            // disable all default map controls except zoom
            disableDefaultUI: true,
            zoomControl: true,
            zoomControlOptions: {
                    position: google.maps.ControlPosition.LEFT_BOTTOM
                },
            styles: [
                {
                    "featureType": "all",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "weight": "2.00"
                        }
                    ]
                },
                {
                    "featureType": "all",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#9c9c9c"
                        }
                    ]
                },
                {
                    "featureType": "all",
                    "elementType": "labels.text",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "landscape",
                    "elementType": "all",
                    "stylers": [
                        {
                            "color": "#f2f2f2"
                        }
                    ]
                },
                {
                    "featureType": "landscape",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#ffffff"
                        }
                    ]
                },
                {
                    "featureType": "landscape.man_made",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#ffffff"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "all",
                    "stylers": [
                        {
                            "saturation": -100
                        },
                        {
                            "lightness": 45
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#eeeeee"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#7b7b7b"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#ffffff"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "simplified"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "all",
                    "stylers": [
                        {
                            "color": "#46bcec"
                        },
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#c8d7d4"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#070707"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#ffffff"
                        }
                    ]
                }
            ]

        });
        // create search box
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function () {
            searchBox.setBounds(map.getBounds());
        });

        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function () {
            var places = searchBox.getPlaces();

            if (places.length == 0) {
                return;
            }

            var bounds = new google.maps.LatLngBounds();
            places.forEach(function (place) {
                if (!place.geometry) {
                    console.log("Returned place contains no geometry");
                    return;
                }

                if (place.geometry.viewport) {
                    // Only geocodes have viewport.
                    bounds.union(place.geometry.viewport);
                } else {
                    bounds.extend(place.geometry.location);
                }
            });
            map.fitBounds(bounds);
        });
        var markerArray = [];
        var marker, i, colour;

        let redMarker = "{{ url_for('static', filename='images/red-dot.png') }}"
        let greenMarker = "{{ url_for('static', filename='images/green-dot.png') }}"
        let yellowMarker = "{{ url_for('static', filename='images/yellow-dot.png') }}"
        let purpleMarker = "{{ url_for('static', filename='images/purple-dot.png') }}"

        //marker colour legend
        let legendContent = "<p>" + '<img src="' + redMarker +'">' + "Less than 4 bikes</p>";
        legendContent += "<p>" + '<img src="' + yellowMarker +'">' + "4-10 bikes</p>";
        legendContent += "<p>" + '<img src="' + greenMarker +'">' + "More than 10 bikes</p>";
        $("#marker-legend").html(legendContent);

        $.getJSON("/query", { id: "all" }, function (allStationInfo) {

            // console.log(locData)
            // loop through locdata to add markers to map
            for (i = 0; i < locData.length; i++) {
                let availbikes = allStationInfo[locData[i]["id"]]["availbikes"];
                if (availbikes <= 3) {
                    colour = redMarker;
                } else if (4 <= availbikes && availbikes <= 10) {
                    colour = yellowMarker;
                } else if (10 < availbikes) {
                    colour = greenMarker;
                } else {
                    colour = purpleMarker;
                }
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locData[i]["lat"], locData[i]["lon"]),
                    map: map,
                    icon: {
                        url: colour
                    }
                });

                // add on-click function using closure and IIFE
                google.maps.event.addListener(marker, 'click', (function (marker, i) {



                    return function () {
                        $("#info-div").show();
                        
                        //add title of station to top of info div
                        $("#station-title").html(locData[i]["name"]);

                        // Set graph to predicted availability for selected stop
                        

                        setGraph(chart,locData[i]["id"]);


                        // send get request with id of station
                        // execute function once results have been returned from get request
                        $.getJSON("/query", { id: locData[i]["id"] }, function (stationInfo) {
                            let content = "<h5>" + locData[i]["name"] + "</h5>";
                            content += "<p>Available bikes: " + stationInfo[0]["availbikes"] + "</p>";
                            content += "<p>Available stands: " + stationInfo[0]["availstands"] + "</p>";
                            content += "<p>Status: " + stationInfo[0]["status"] + "</p>";
                            content += "<p>Banking: " + stationInfo[0]["banking"] + "</p>";
                            content += "<p>Number of bike stands: " + stationInfo[0]["numbikestands"] + "</p>";
                            content += "<object type='image/svg+xml' data='{{ url_for('static', filename='images/star.svg') }}' class='fav-star'></object>"
                            // add content of get request to info window
                            infowindow.setContent(content);
                            infowindow.open(map, marker);
                        });
                            

                            // get current time using Date object
                            let d = new Date();
                            let hour = d.getHours();
                            let minutes = d.getMinutes();
                            // round time nearest half hour
                            if (minutes < 15) {
                                minutes = 0;
                            } else if (minutes >= 15 && minutes < 45) {
                                minutes = 30;
                            } else if (minutes > 45) {
                                minutes = 0;
                                hour = (hour + 1) % 24;
                            }
                            let currentTime = hour + ":" + minutes;
                            // create jquery timepicker
                            $('#timepicker').timepicker({
                                timeFormat: 'HH:mm',
                                interval: 30,
                                scrollbar: true,
                                defaultTime: currentTime,
                                dynamic: false
                            });
                            // date buttons
                            const weekdays = ['Mon', 'Tue', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun'];
                            const months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

                            // loop through all elements in the class date-text 
                            $('.date-text').each(function(index, obj){
                                // create Date object
                                let date = new Date();
                                date.setDate(date.getDate() + index);
                                if (date.getDate() < 10) {
                                    newdate = 0 + "" + date.getDate(); 
                                } else {
                                    newdate = date.getDate();
                                }
                                obj.innerHTML = weekdays[date.getDay()] + "<br> " + newdate + " " + months[date.getMonth()];

                            });
                    } 


                    

                    readTextFile("../static/historical-data/station_avg_availability_1.json", function(text) {
                        var stationdata = JSON.parse(text);
                        setGraph(stationdata[7]);
                    });

                    
                })(marker, i));

                markerArray.push(marker);
            }

            // create marker clusters using array of markers
            var markerCluster = new MarkerClusterer(map, markerArray, { maxZoom: 14, imagePath: '/static/images/cluster_images/m' });
        });
    }
</script>
<script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBk5FkeAnIxVpfk2ufqO3F1ofYF84oDT6c&callback=initMap&libraries=places"></script>





<script src="https://www.chartjs.org/dist/2.9.3/Chart.min.js"></script>
<script src="https://www.chartjs.org/samples/latest/utils.js"></script>

<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> -->

<script>
    // Set graph data to particular data for selected stop
    function setGraph(chart,stationid) {
        station = modelData[stationid];
        var availbikes = station['availbikes']
            var availstands = station['availstands']

            chart.data.datasets[0].data = availbikes;
            chart.data.datasets[1].data = availstands;
            chart.update();
    }

    // graph configuration
    var hours = ["00:00","01:00","02:00","03:00","04:00","05:00","06:00","07:00","08:00","10:00","11:00","12:00","13:00","14:00","15:00","16:00","17:00","18:00","19:00","20:00","21:00","22:00","23:00"];
    var config = {
	    	type: 'line',
	    	data: {
	    		labels: hours,
	    		datasets: [{
	    			label: 'Available Stands',
	    			backgroundColor: window.chartColors.red,
	    			borderColor: window.chartColors.red,
	    			data: new Array(24).fill(0),
	    			fill: false,
                },
                {
	    			label: 'Available Bikes',
	    			backgroundColor: window.chartColors.blue,
	    			borderColor: window.chartColors.blue,
	    			data: new Array(24).fill(0),
	    			fill: false,
	    		}]
	    	},
	    	options: {
	    		responsive: true,
	    		title: {
	    			display: true,
	    			text: 'Average Bike & Stand Availability'
	    		},
	    		tooltips: {
	    			mode: 'index',
	    			intersect: false,
	    		},
	    		hover: {
	    			mode: 'nearest',
	    			intersect: true
	    		},
	    		scales: {
	    			xAxes: [{
	    				display: true,
	    				scaleLabel: {
	    					display: true,
	    					labelString: 'Time'
	    				}
	    			}],
	    			yAxes: [{
	    				display: true,
	    				scaleLabel: {
	    					display: true,
                            labelString: 'No. Available'
                        },
                        ticks: {
                            suggestedMin: 0,
                            suggestedMax: 20
                        }
	    			}]
	    		}
	    	}
        };

    // Create chart in myChart div
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, config);
</script>
<!-- end the block. The word content not required -->
{% endblock content %}