<h5>"+ locData[i]["name"] + "<object type='image/svg+xml'
        data='{{ url_for('static', filename='images/star.svg') }}' class='fav-star'></object></h5>";
content += "<p>Available bikes: " + stationInfo[0]["availbikes"] + "</p>";
content += "<p>Available stands: " + stationInfo[0]["availstands"] + "</p>";
content += "<p>Status: " + stationInfo[0]["status"] + "</p>";
content += "<p>Banking: " + stationInfo[0]["banking"] + "</p>";
content += "<p>Number of bike stands: " + stationInfo[0]["numbikestands"] + "</p>";