{% extends "layout.html" %}
{% block static_pages %}

<div class="content-section">
    <h1>Privacy Policy</h1>
    Privacy Policy
    Effective date: May 25, 2018
    
    This statement discloses the types of information collected when you visit attackpoint.org and all other web properties
    or services owned or operated by Attackpoint LLC (collectively, the "Website"), and how we use and safeguard your
    information.
    
    Personal Data
    Personal data means any information relating to an identified or identifiable natural person. We collect personal data
    about you:
    
    When you visit the Website
    When you provide it to us directly via the Website
    When you contact us by email
    Attackpoint processes your personal data in order to provide you with the services of the Website, and to further our
    legitimate interests, which include:
    
    Providing you with and improving the services of the Website
    Maintaining the function and security of the Website and your account
    Providing you support related to your use of the Website
    Archiving the results of public athletic competitions
    Personal data collected when you visit the Website
    When you visit the Website, your browser automatically sends us your IP address and browser version information. We may
    process this information for the purpose of monitoring the Website for problems and abuse. The legal basis for this
    processing is our legitimate interest in maintaining the function and security of the Website.
    
    Personal data collected when you create an account
    We process your email and password for the purpose of signing you into your account securely. The legal basis for this
    processing is our legitimate interest in maintaining the security of your account.
    
    We process your email address if you request to reset your account password, or if we need to contact you about some
    problem with your account. We may also use your email address to associate your account if you contact us for support by
    email. The legal basis for this processing is our legitimate interest in maintaining the security of your account and
    providing support.
    Personal data collected when you use your account
    You may voluntarily add various types of content under your account (such as your favourited Dublin Bikes stations),
    which may be considered personal data. The purpose of processing this information is to organize and summarize this
    information for you. The legal basis for this processing is your consent. You may withdraw your consent at any time by
    deleting this information from your account.
    Information sharing
    Attackpoint may share aggregated anonymized data or statistics for research or commercial purposes.
    Your private personal data is not shared or sold. It may be disclosed to governmental authorities when legally required
    to do so, or to a successor entity in connection with a corporate change including the Website.
    
    International transfers
    Attackpoint is operated from Ireland. If you access the Website from outside of the Ireland, you acknowledge that your
    personal data will be transferred, processed, and stored in Ireland. We have appropriate security measures to guard
    against the loss, misuse, or alteration of the data we have collected about you.
    
    Retention periods
    We retain the personal data collected from you until you delete the data from your account or you delete your account.
    Your data will be removed from the Website immediately upon deletion but may remain on backup media for up to 60 days
    following deletion. In addition, copies of public web pages in third-party archives may remain indefinitely.
    
    Your rights
    If you are located in the EEA, under the General Data Protection Regulation you have the right to request access,
    rectification, or erasure of your personal data. You have the right to data portability, restriction of processing and
    objection to processing your personal data. Where we rely on your consent to use your personal data, you may withdraw
    your consent at any time. You have the right to lodge a complaint with a supervisory authority.
    
    Controller details
    Personal data collected by Attackpoint is controlled by Attackpoint LLC, 8008 Westover Rd, Bethesda MD 20814, USA
    
    Minors
    The Website is not targeted towards children and does not knowingly collect any information from children under the age
    of 13. Where the age of consent is higher than 13, we request that minors under the age of consent do not use the
    Website without the consent of a legal guardian, unless otherwise permitted by applicable law. If you are a minor and
    have such consent, you must be able to prove it upon request.
    
    Links to Other Sites
    The Website contains links to other sites. Please be aware that we are not responsible for the content or privacy
    practices of such other sites. We encourage our users to be aware when they leave our site and to read the privacy
    statements of any other site that collects personal data.
    
    Cookies
    A cookie is a very small text file that is stored on your device, which is used to save information between requests in
    your browsing session. For example, Attackpoint uses cookies to remember that you have signed in so that you don't have
    to re-enter your username and password repeatedly while you are using the Website.
    
    The Website's use of cookies falls into the following categories:
    
    Strictly necessary cookies: These cookies are necessary for the Website to function and cannot be switched off. You can
    set your browser to block these cookies, but some parts of the site may no longer work and you will not be able to sign
    into your account
    Performance cookies: These cookies allow us to monitor visitor traffic and improve the performance of the site. The
    information these cookies collect is aggregated and anonymous. If you don't allow these cookies, your visits to the site
    will not be included in our performance analysis.
    Functional cookies: These cookies allow us to enhance personalization of the site or other optional functionality. If
    you don't allow these cookies you may not be able to use some of this functionality.
    The Website does not recognize or respond to browser-initiated Do Not Track signals.
    
    Changes
    If our information practices change at any point in the future, we will update this policy statement. We may also update
    this statement to improve its clarity. In case of material changes that directly impact your privacy, we will also post
    a prominent notification or message on the Website.
    
    Contact Us
    If you have any questions about this Privacy Policy, please contact us.

</div>
{% endblock static_pages %}